asyncpg
authlib
alembic
celery
fastapi
fastapi-mail
fastapi[standard]
firebase-admin
itsdangerous
motor
openai
passlib[bcrypt]
pydantic
pydantic-settings
pytest
pyjwt
python-socketio
websockets
redis
sqlalchemy
uvicorn
locust
